<!DOCTYPE html>
<html lang="en">


<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keyword"  content="ayurveda,yoga,therapeutic yoga,ayurveda medicine,ayurveda clinic,">
    <meta name="description"  content="prakritiayurcare was established with an intention of providing research and result based Ayurveda. prakritiayurcare provides treatments for Diabetes," />
   <!--meta name=“viewport” content=“width=device-width" intitial-scale="1" maximum-scale="1”>
    <!-- PAGE TITLE -->
    <title>PrakritiAyurCare</title>
    <!-- ayurveda-bootstrap ayurveda-css -->
    <link rel="stylesheet" href="ayurveda-assets/ayurveda-bootstrap/css/bootstrap.css">
    <!-- ALL GOOGLE FONTS -->
    <link href="../../../fonts.googleapis.com/css8c5c.css?family=Raleway:300,400,500,700,800|Lato:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
    <!-- FONT AWESOME ayurveda-css -->
    <link rel="stylesheet" href="ayurveda-assets/fonts/linear-fonts.css">
    <link rel="stylesheet" href="ayurveda-assets/fonts/font-awesome.css">
    <!-- OWL CAROSEL ayurveda-css -->
    <link rel="stylesheet" href="ayurveda-assets/owlcarousel/css/owl.carousel.css">
    <link rel="stylesheet" href="ayurveda-assets/owlcarousel/css/owl.theme.css">
    <!-- MAGNIFIC ayurveda-css -->
    <link rel="stylesheet" href="ayurveda-assets/ayurveda-css/magnific-popup.css">
    <!-- ANIMATE ayurveda-css -->
    <link rel="stylesheet" href="ayurveda-assets/ayurveda-css/animate.min.css">
    <link rel="stylesheet" href="ayurveda-assets/ayurveda-css/effects.css">
    <!-- MAIN STYLE ayurveda-css -->
    <link rel="stylesheet" href="ayurveda-assets/ayurveda-css/style.css">
    <!-- RESPONSIVE ayurveda-css-->
    <link rel="stylesheet" href="ayurveda-assets/ayurveda-css/responsive.css">
    <!-- COLOR SWITCHER JS -->
    <link href="ayurveda-assets/switcher/switcher.css" rel="stylesheet">
    <link href="ayurveda-assets/switcher/style1.css" rel="stylesheet" id="colors">

</head>

<body>
    <!-- START PRELOADER AREA-->
    <div class="preloader-area">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <!-- END PRELOADER AREA -->

    <!-- START HOMEPAGE DESIGN AREA -->
    <header id="home" class="welcome-area">
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- START LOGO DESIGN AREA -->
                        <div class="logo">
                            <a href="index">

                              <img src="ayurveda-assets/ayurveda-images/pimage5.png" class="img-responsive" style="width:90%">
                            </a>
                        </div>
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    <div class="col-md-9">
                        <!-- START MENU DESIGN AREA -->
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smoth-scroll" href="index">Home <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#About">About us</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#gallery">Gallery</a>
                                        </li>
                                        <!--li><a class="smoth-scroll" href="#appoinment">appointment</a-->
                                        </li>
                                        <li><a class="smoth-scroll" href="#testimonial">Testimonials</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#contact">contact us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END MENU DESIGN AREA -->
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-slider-area">
            <div id="welcome-slide-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-target="#welcome-slide-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#welcome-slide-carousel" data-slide-to="1"></li>
                 <!--   <li data-target="#welcome-slide-carousel" data-slide-to="2"></li>-->
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="single-slide-item slide-1" data-stellar-background-ratio="0.6">
                            <div class="single-slide-item-table">
                                <div class="single-slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="header-text text-center">
                                                    <p>welcome to professional <span>prakritiayurcare</span> center.</p>
                                                    <h2>We care about your health.</h2>
                                                    <a class="slide-btn smoth-scroll" href="#contact">Contact us</a>
                                                    <a class="slide-btn other-btn smoth-scroll" href="#pricing">our solution</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-slide-item slide-2" data-stellar-background-ratio="0.6">
                            <div class="single-slide-item-table">
                                <div class="single-slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="header-text text-center">
                                                    <p>welcome to professional <span>prakritiayurcare</span> center.</p>
                                                    <h2>Quality Care That you can Trust.</h2>
                                                    <a class="slide-btn smoth-scroll" href="#contact">Contact us</a>
                                                    <a class="slide-btn other-btn smoth-scroll" href="#pricing">our solution</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    <div class="item">
                        <div class="single-slide-item slide-3" data-stellar-background-ratio="0.6">
                            <div class="single-slide-item-table">
                                <div class="single-slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="header-text text-center">
                                                    <p>welcome to professional <span>prakritiayurcare</span> center.</p>
                                                    <h2>Medical Services That you can Trust</h2>
                                                    <a class="slide-btn smoth-scroll" href="#contact">Contact us</a>
                                                    <a class="slide-btn other-btn smoth-scroll" href="#pricing">our solution</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <a class="left slider-control" href="#welcome-slide-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right slider-control" href="#welcome-slide-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </header>
    <!-- / END HOMEPAGE DESIGN AREA -->

    <!-- START ABOUT DESIGN AREA -->
    <section id="About" class="about-us-area section-padding">
        <div class="container">
            <div class="row">
                <!-- START ABOUT IMAGE DESIGN AREA -->
                <div class="col-md-5 wow fadeInLeft" data-wow-delay=".2s">
                    <div class="about-image">
                        <img src="ayurveda-assets/ayurveda-images/pacnew02.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- / END ABOUT IMAGE DESIGN AREA -->
                <!-- START ABOUT TEXT DESIGN AREA -->
                <div class="col-md-7">
                    <div class="about-text">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s">We care about your health.</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Plant-based treatments in Ayurveda may be derived from roots, leaves, fruits, bark, or seeds such as cardamom and cinnamon. As all product were made of herbs, mineral and its 100% natural, safe and it does not any side effect. Authentic and customized Ayurvedic treatment and medicines for all kinds of common, chronic and lifestyle-related disorders</p>
                    </div>
                </div>
                <!-- / END ABOUT TEXT DESIGN AREA -->
            </div>
            <div class="row margin-top-c">
                <!-- START ABOUT TEXT DESIGN AREA -->
                <div class="col-md-7">
                    <div class="about-text">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s">Quality Care That you can Trust.</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Every consultation we get is deeply analyzed, researched and reviewed by Dr. Rashmi to omit chances of even the slightest error. With Ayurvedic Expert you can be sure of getting the best possible advice and treatment for you or your loved ones. Our treatments are 100% customized to suit your individual needs.</p>
                    </div>
                </div>
                <!-- / END ABOUT TEXT DESIGN AREA -->
                <!-- START ABOUT IMAGE DESIGN AREA -->
                <div class="col-md-5 wow fadeInRight" data-wow-delay=".2s">
                    <div class="about-image">
                        <img src="ayurveda-assets/ayurveda-images/pacnew01.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- / END ABOUT IMAGE DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END ABOUT DESIGN AREA -->

    <!-- START SERVICE DESIGN AREA -->
    <section id="service" class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>What we do best?</h2>
                        <p>We provide Ayurveda Panchakarma health treatmment like Arthritis, Sciatica, Backpain, Slip Disc, Cervical and Lumbar spondylosis, Skin, Hair fall, Dandruff, Pimples, Pigmentation, Dryskin. We provide various YOGA like Prenatal, Postnatal , Therapeutic(Diabetes, Slip Disc) and Normal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- START SINGLE SERVICE DESIGN AREA ->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-service">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i>
                        <h4>Easy Booking</h4>
                        <p>Just do few click on Appoinments tab to book advanced appoinments or try to reach mobile numbers, so avoid delay in apponiments</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-service">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <h4>Experience</h4>
                        <p>Our team has as very good experience in ayurvedic treatement and our doctor has 12 to 13 year of industry experience in ayurveda. Our doctor is specialized in  field of ayurveda  and good expertise in field of yoga treatment.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-service">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i>
                        <h4>Best Price Guarantee Treatment</h4>
                        <p>Our aim to provide best quality and hygenic treatments towards ayurvedic. we provide quality prices for all the treatement done under our clinical locations and provide industry price towards treaments.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-service">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i>
                        <h4>Ayurvedic Pharmacy</h4>
                        <p>we have well maintained Pharmacy</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END SERVICE DESIGN AREA -->

    <!-- START WHY CHOOSE US DESIGN AREA -->
    <div class="why-chhose-us-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>why choose us?</h2>
                        <p>We care patient's wellness and secure life for future of their loved ones and we make best treatment in ayurvedic industry. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="why-image">
                        <img src="ayurveda-assets/ayurveda-images/why.png" alt="why choose us ">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <!-- START SINGLE WHY CHOOSE DESIGN AREA -->
                        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                            <div class="single-about">
                                <div class="about-icon"><i class="fa fa-h-square" aria-hidden="true"></i>
                                </div>
                                <h4>Advanced Technology </h4>
                                <p>We use very advanced technology for treatment, Our systems are well maintained with neat and latest equipments</p>
                            </div>
                        </div>
                        <!-- / END SINGLE WHY CHOOSE DESIGN AREA -->
                        <!-- START SINGLE WHY CHOOSE DESIGN AREA -->

                        <!-- / END SINGLE WHY CHOOSE DESIGN AREA -->
                        <!-- START SINGLE WHY CHOOSE DESIGN AREA -->
                        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".6s">
                            <div class="single-about">
                                <div class="about-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i>
                                </div>
                                <h4>10.30 Am to 8 Pm Availability </h4>
                                <p>We do clinic services from 10 Am to 12 Pm and other timing period would 5Pm to 8.30PM </p>
                            </div>
                        </div>
                        <!-- / END SINGLE WHY CHOOSE DESIGN AREA -->
                        <!-- START SINGLE WHY CHOOSE DESIGN AREA -->
                        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".8s">
                            <div class="single-about">
                                <div class="about-icon"><i class="fa fa-medkit" aria-hidden="true"></i>
                                </div>
                                <h4>Great Infrastructure </h4>
                                <p>we do all the ayurvedic treaments with high to high facility provided on local space.</p>
                            </div>
                        </div>
                        <!-- / END SINGLE WHY CHOOSE DESIGN AREA -->
                        <!-- START SINGLE WHY CHOOSE DESIGN AREA -->

                        <!-- / END SINGLE WHY CHOOSE DESIGN AREA -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / END WHY CHOOSE US DESIGN AREA -->


    <!-- START CALL TO ACTION DESIGN AREA -->
    <section id="download" class="call-to-area" data-stellar-background-ratio="0.6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-area-text text-center">
                        <h2>How we can help you?</h2>
                        <p>We offer a wide range of procedures to help you get the perfect smile for treatment</p>
                        <a class="smoth-scroll" href="#conact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END CALL TO ACTION DESIGN AREA -->

    <!-- START GALLERY DESIGN AREA -->
    <section id="gallery" class="gallery section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>gallery</h2>
                        <p>we are sharing some picture which we have treated ,so that it  helps to give confidence to patients in our treatment. </p>
                    </div>
                </div>
            </div>
            <div class="work-inner">
                <div class="row work-posts grid">
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="item wow fadeInUp" data-wow-delay=".2s">
                            <a href="ayurveda-assets/ayurveda-images/work/images_quality.jpg" class="work-popup">
                                <figure class="effect-julia">
                                    <img src="ayurveda-assets/ayurveda-images/work/images_quality.jpg" alt="image">
                                    <figcaption>
                                        <h2></h2>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="item wow fadeInUp" data-wow-delay=".4s">
                           <a href="ayurveda-assets/ayurveda-images/images_treatment1.jpg" class="work-popup">
                                <figure class="effect-julia">
                                    <img src="ayurveda-assets/yogaimage.jpg" alt="image">
                                    <figcaption>
                                        <h2></h2>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="item wow fadeInUp" data-wow-delay=".6s">
                            <a href="ayurveda-assets/ayurveda-images/work/images_5.jpg" class="work-popup">
                                <figure class="effect-julia">
                                    <img src="ayurveda-assets/yogaimage5.jpg" alt="image">
                                    <figcaption>
                                        <h2></h2>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->

                </div>
            </div>
        </div>
    </section>
    <!-- / END GALLERY WORK DESIGN AREA -->


    <!-- START INFORMATION DESIGN AREA -->

    <!-- / END INFORMATION DESIGN AREA -->


    <!-- START APPOINMENT DESIGN AREA -->
<!--    <section id="appoinment" class="appoinment-form-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- START APPOINMENT TEXT DESIGN AREA -->
                  <!--  <div class="appoinment-text">
                        <h2>Quality Care That you can Trust.</h2>
                        <p>Every consultation we get is deeply analyzed, researched and reviewed by expierence doctor to omit the chances of even the slightest error. With Ayurvedic
 Expert you can be sure of getting the best possible advice and treatment for you or your loved ones. Our treatments are 100% customized to suit your individual needs.</p>


                    </div>
                    <!-- / END APPOINMENT TEXT DESIGN AREA -->
              <!--   </div>
                <div class="col-md-6">
                    <!-- START APPOINMENT FORM DESIGN AREA -->
                  <!--   <div class="appoinment-form wow pulse" data-wow-delay=".8s">
                        <form action="#" method="post">
                            <h3 color="#008000">Appointment Form</h3>
                            <input name="username" type="text color:black" class="form-control" placeholder="Your Name">
                            <input name="useremail" type="email" class="form-control" placeholder="Email Address">
                            <select name="day" class="form-control">
                                <option>Day</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                                <option>Monday</option>
                                <option>Thursday</option>
                            </select>
                            <select name="time" class="form-control">
                                <option>Time</option>
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                            <textarea name="message" class="form-control" placeholder="Your message.." rows="3"></textarea>
                            <input type="submit" class="form-control" value="Send Info">
                        </form>
                    </div>
                    <! /END APPOINMENT FORM DESIGN AREA -->
              <!--   </div>
            </div>
        </div>
    </section>
    / END APPOINMENT DESIGN AREA -->

    <!-- START TEAM DESIGN AREA -->
    <section id="team" class="team-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Meet Our Specialist</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <!-- START SINGLE TEAM DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-team">
                        <img src="ayurveda-assets/ayurveda-images/why.png" alt="">
                        <div class="team-description">
                            <h4>Dr.RASHMI UPPARA</h4>
                            <h6></h6>
                            <p><i class="fa fa-phone"></i> 8892901254</p>
                        </div>
                    </div>
                </div>


                <!-- START SINGLE TEAM DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-team">
                        <img src="ayurveda-assets/ayurveda-images/why.png" alt="">
                        <div class="team-description">
                            <h4>Ms Shuba S P</h4>
                            <h6></h6>
                            <p><i class="fa fa-phone"></i> 8892901254</p>
                        </div>
                    </div>
                </div>
                <!-- START SINGLE TEAM DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-team">
                        <img src="ayurveda-assets/ayurveda-images/why.png" alt="">
                        <div class="team-description">
                            <h4>Dr.Shailaja</h4>
                            <h6></h6>
                            <p><i class="fa fa-phone"></i> 8892901254</p>
                        </div>
                    </div>
                </div>
              </div>

        </div>
    </section>
    <!-- / END TEAM DESIGN AREA -->


    <!-- START USERS DESIGN AREA -->
    <section id="testimonial" class="testimonial-area section-padding" data-stellar-background-ratio="0.6">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>what people are saying</h2>
                        <p>Backed with a vision to offer the best in patient care and equipped with technologically advanced healthcare facilities</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial-list wow fadeInUp">
                    <!-- START SINGLE USERS DESIGN AREA -->
                    <div class="single-testimonial">
                        <div class="single-testi-des">
                            <p>Good treatment, staff is extremely nice and helpful. Dr.RASHMI UPPARA is qualified and nice person. I will definitely come back and recommend to others for overall tune up of the body</p>
                        </div>
                        <div class="testi-name">
                            <h2>Sudhir k</h2>
                            <h3>Bangalore</h3>
                        </div>
                    </div>
                    <!-- / END SINGLE USERS DESIGN AREA -->
                    <!-- START SINGLE USERS DESIGN AREA -->
                    <div class="single-testimonial">
                        <div class="single-testi-des">
                            <p>
I am very happy to know about this Ayurvedic Clinic. My self and my wife Mrs. Tara Mishra taking treatment from this clinic and we feel that this is very effective therapy. I personally feel that this clinic has maintained high standard.</p>
                        </div>
                        <div class="testi-name">

                            <h2>MR K K Mishra</h2>
                            <h3>BANGALORE</h3>
                        </div>
                    </div>
                    <!-- / END SINGLE USERS DESIGN AREA -->
                    <!-- START SINGLE USERS DESIGN AREA -->
                    <div class="single-testimonial">
                        <div class="single-testi-des">
                            <p>Headaches, Anger, stress and strain for 15 years drove me to take 45days treatment here. Now I am completely cured. Thanks to Dr.Rashmi uppara and staff. Now I plan to be a regular member at the institute.
                            </p>
                        </div>
                        <div class="testi-name">
                            <h2>MR Naresh</h2>
                            <h3>Bangalore</h3>
                        </div>
                    </div>
                    <!-- / END SINGLE USERS DESIGN AREA -->
                    <!-- START SINGLE USERS DESIGN AREA -->
                    <div class="single-testimonial">
                        <div class="single-testi-des">
                            <p>A very organized and expert handling of patients under the supervision of an expert Ayurveda Doctor DR.Rashmi Uppara for treatment. An excellent Institution for Ayurveda treatment..</p>
                        </div>
                        <div class="testi-name">
                            <h2>MR Suraj</h2>
                            <h3>Bangalore</h3>
                        </div>
                    </div>
                    <!-- / END SINGLE USERS DESIGN AREA -->
                </div>
            </div>
        </div>
        <!--payment test-->
    </section>
    <!-- START PRICING DESIGN AREA -->
    <section id="pricing" class="pricing-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>TREATMENTS WE OFFER</h2>
                        <p>We offer treatment at reasonable and the best price </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="pricing-box">
                        <div class="pricing-header">


                        </div>
                        <ul class="list-unstyled plan-features">
                            <li>Abhayanga</li>
                            <li>Udhwartana</li>
                            <li>Elakizhi</li>
                            <li>Njavakizhi</li>
                            <li>Pizhichil</li>

                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->
                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="pricing-box">
                        <div class="pricing-header">


                        </div>
                        <ul class="list-unstyled plan-features">
                            <li>Shirodhara</li>
                            <li>Takradhara</li>
                            <li>Ayurvedic Facial</li>
                            <li>Nasya</li>
                            <li>Shiro Abhayanga</li>
                        </ul>

                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->
                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay=".8s">
                    <div class="pricing-box">
                        <div class="pricing-header">


                        </div>
                        <ul class="list-unstyled plan-features">
                            <li>Virechana package</li>
                            <li>Postnatal package</li>
                            <li>Hair Care Treatment package</li>
                            <li>Therapeutic yoga classes</li>
                            <li>General yoga classes</li>
                        </ul>

                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END PRICING DESIGN AREA -->

     <section id="pricing" class="pricing-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Pay here online</h2>
                            <div class="control-group">
                                <div class="controls">
                                 <a style="color:#006600" href="https://www.payumoney.com/customer/users/paymentOptions/#/E1D51DE2241CEC39D382AB3EB00F9423/prakritiayurcare/179443"><b>Click to Pay</a>

                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
     </section>
     <!-- <button class="btn btn-success">-->

    <!-- START CONTACT DESIGN AREA -->
    <section id="contact" class="contact-area section-padding" data-stellar-background-ratio="0.6">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Say hello to us!</h2>
                        <p>Please fill out the quick form and we will get in touch with lightning speed. </p>
                    </div>
                </div>
            </div>
            <div class="row contact-form-design-area">
                <div class="col-md-8 col-md-offset-2">
                    <!-- START CONTACT FORM DESIGN AREA -->
                    <div class="contact-form">
                        <form name="contactForm" id="contactForm" class="standard-form row-fluid" action="/contact" method="post">
                          <label for = "username" UserName </label>
                          <input class="form-group col-md-6" id="username" name="name" placeholder="Name" type="text" required>
                          <label for = "useremail" Email </label>
                          <input class="form-group col-md-6" id="useremail" name="email" placeholder="E-Mail" type="email"required>
                          <label for = "userphoneno" PhoneNumber </label>
                          <input class="form-group col-md-6" id="userephone" name="phoneno" placeholder="Phone-No" type="text" required>
                          <label for = "usersubject" Subject </label>
                          <input class="form-group col-md-6" id="usersubject" name="subject" placeholder="Subject" type="text" required>
                          <label for = "usermessage" Message </label>
                          <textarea style="width:100%" class="form-group col-sm-8" placeholder="Message" name="message" cols="30" rows="7" id="themeple_message" required></textarea>
                            <div class="col-md-6 text-left">
                              <p class="actions">
                                  <input type="submit" value="Submit Form" class="btn btn-lg btn-contact-bg" >
                              </p>
                            </div>
                          </form>
                    </div>
                    <!-- / END CONTACT FORM DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END CONTACT DESIGN AREA -->

    <!-- START GOOGLE MAP DESIGN AREA-->
    <div id="map">
    <!--    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.200061741473!2d77.67512974961292!3d13.022928317230297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae10e744daf88d%3A0x498f87bc03305b8b!2sPapanna+Layout!5e0!3m2!1sen!2sin!4v1496139595407"
     width="1350" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d971.7713125231165!2d77.66191!3d13.030243!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae10ce47ba7ecb%3A0xbbe5d43b5f92bbac!2s10%2C+2nd+Cross+Street%2C+Chinnaswamappa+Layout%2C+Horamavu%2C+Bengaluru%2C+Karnataka+560043%2C+India!5e0!3m2!1sen!2sin!4v1496144474466"
    width="1350" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
    </ END GOOGLE MAP DESIGN AREA -->

    <!-- START CONTACT DETAILS AREA -->
    <section id="contact" class="contact-details-area section-padding">
        <div class="container">
            <div class="row">
                <!-- START SINGLE CONTACT DETAILS AREA -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-contact-details wow fadeInUp" data-wow-delay=".2s">
                        <h2>Medical Center.</h2>
                        <p>#1, 2nd main, Horamavu main road, Papanna Layout,
                          Opp. to State Bank Of India, Bangalore-560043</p>
                        <h3><i class="fa fa-calendar" aria-hidden="true"></i>10:00 am - 12:30 PM AND 5:00PM - 8:30PM</h3>
                    </div>
                </div>
                <!-- / END SINGLE CONTACT DETAILS AREA -->
                <!-- START SINGLE CONTACT DETAILS AREA -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-contact-details wow fadeInUp" data-wow-delay=".4s">
                        <h2>contact us.</h2>
                        <p2> For any query contact us. </p2>
                        <h3><i class="fa fa-phone" aria-hidden="true"></i>8892901254</h3>
                    </div>
                </div>
                <!-- / END SINGLE CONTACT DETAILS AREA -->
                <!-- START SINGLE CONTACT DETAILS AREA -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-contact-details wow fadeInUp" data-wow-delay=".6s">
                        <h2>Drop a line.</h2>

                        <h3><i class="fa fa-envelope-o" aria-hidden="true"></i>prakritiayurcare@gmail.com</h3>
                    </div>
                </div>
                <!-- / END SINGLE CONTACT DETAILS AREA -->
            </div>
        </div>
    </section>
    <!-- / END CONTACT DETAILS AREA -->


    <!-- START FOOTER DESIGN AREA -->
    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="footer-social-link">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100017694122573"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://twitter.com/PrakritiAyur"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/prakriti-ayurcare-923b7a143"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/u/0/116313951959991348896"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-text">
                        <h6>&copy;copyright | PrakritiAyurCare 2017.all right Reserved <br>Developed by Clueminds Pvt Ltd</h6>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- / END CONTACT DETAILS DESIGN AREA -->

    <!-- START SCROOL UP DESIGN AREA -->
    <div class="scroll-to-up">
        <div class="scrollup">
            <span class="lnr lnr-chevron-up"></span>
        </div>
    </div>
    <!-- / END SCROOL UP DESIGN AREA -->
    <!-- LATEST JQUERY -->
    <script src="ayurveda-assets/js/jquery.min.js"></script>
    <!-- ayurveda-bootstrap JS -->
    <script src="ayurveda-assets/ayurveda-bootstrap/js/bootstrap.min.js"></script>
    <!-- OWL CAROUSEL JS  -->
    <script src="ayurveda-assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- MAGNIFICANT JS -->
    <script src="ayurveda-assets/js/jquery.magnific-popup.min.js"></script>
    <!-- STEALLER JS -->
    <script src="ayurveda-assets/js/jquery.stellar.min.js"></script>
    <!-- YOUTUBE JS -->
    <script src="ayurveda-assets/js/jquery.mb.YTPlayer.min.js"></script>
    <script type="text/javascript">
        $('.player').mb_YTPlayer();
    </script>
    <!-- COUNTER UP JS -->
    <script src="ayurveda-assets/js/jquery.waypoints.min.js"></script>
    <script src="ayurveda-assets/js/jquery.counterup.min.js"></script>
    <!-- WOW JS -->
    <script src="ayurveda-assets/js/wow.min.js"></script>
    <!-- GOOGLE MAP JS -->
    <script src="../../../maps.googleapis.com/maps/api/js8b89?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
    <script src="ayurveda-assets/js/gmap3.min.js"></script>
    <!-- WOW JS -->
    <script src="ayurveda-assets/js/form-contact.js"></script>
    <!-- COLOR SWITCHER -->
    <script src="ayurveda-assets/switcher/switcher.js"></script>
    <!-- scripts js -->
    <script src="ayurveda-assets/js/scripts.js"></script>
</body>


</html>
